* {box-sizing: border-box}
/* Here the margin is set so the content is centered*/
body, html {
  margin-left: 6%;
  margin-right:6%;
  font-size: 18pt;
  background-image: url("background.jpg");
}
/* images are aligned to the center*/
div.image2 {
	text-align: center;
}
div.image3 {
	text-align: center;
}
div.image4 {
	text-align: center;
}
div.image5 {
	text-align: center;
	transition: transform .2s;
}
div.image5:hover {
		-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
div.text1 {
	text-align: center;
}


/* Style tab links */
.tablink {
	font-family: impact;
    background-color: white;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 25px;
    width: 33.333%;
}
/* when the user hovers over the links it highlights them grey */
.tablink:hover {
	color: grey;
}
/* Style the tab content*/
.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
}
/* sets the background colours for the tabs*/
#Project_1 {background-color: white;}
#Project_2 {background-color: white;}
#Project_3 {background-color: white;}
/* this section of code is for the screen over lay which appears when the navigation button is pressed, it is styled here */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
/* this section of code styles the overlay content */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: yellow;
    display: block;
    transition: 0.3s;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
/* this section of code is used for the overlay, it has been set to a max height of 450px*/
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* here the style is set for heading 1*/
h1 {
	  font-family: impact;
	  font-size: 70px;
	  color: yellow;
	  text-align: center;
	  padding: 20px;
}
/* here the style is set for heading 2*/
h2 {
	  font-size: 40px;
	  color: #937666;
	  text-align: center;
	  padding: 20px;
}
/* here the style is set for heading 3*/
h3 {
	font-family:impact;
	  font-size: 40px;
	  color: black;
	  text-align: center;
	  padding: px;
}
/* here the style is set for heading 4*/
h4 {
	font-size: 15pt;
}
* {
    box-sizing: border-box;
}
/* This section of code is for the responsive grid that is used for the imags, this 
part of the code uses a flexbox */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
	margin-left: 6%;
	transition: transform .2s;
}
/* this section of code enlarges the image when the user hover over it */
.column:hover { 
	-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
	 transition: transform .2s;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
.navmenu {
	text-align: center;
	color: yellow;
}
div.toplink {
	text-align: center;
}
div.port {
	text-align: center;
	margin-right: 10%;
}

	