/* the font color and font size have been set for the main body */
body {
  background-color: white;
  font-size: 20px;
  text-align: center;
  background-image: url("background.jpg");
}

	
/* Heading 1 has been modified with the code below */
h1 {
	  font-family: impact;
	  font-size: 70px;
	  color: yellow;
	  text-align: center;
	  padding: 20px;
}
h2 {
	font-family: impact;
	  font-size: 30px;
	  color: white;
	  text-align: center;
}
	
/* the color for the top nav has been set to white */
.topnav {
  overflow: hidden;

}
/* all the styling for the text in the navigation has been set here */
.topnav a {
  font-family: impact;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 2px 2px;
  text-decoration: underline;
  font-size: 25px;
  width: 32.02%;
}
/* this sets the text so that when the user hovers over it, it highlights it black*/
.topnav a:hover {
  color: yellow;
}

.topnav .icon {
  display: none;
}

/* This sets the style for heading 4*/
h4 {
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: arial;
}
/* This sets the style for heading 3*/
h3 {
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: arial;
}
/* This is the styling for the social media icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  float: middle;
}
/* when the user hovers over an icon its opacity changes slighly to let the user know they are hovering over it*/
.fa:hover {
    opacity: 0.7;
}
/* this sets the colours for the LinkedIn icon*/
.fa-linkedin {
  background: #007bb5;
  color: white;
}
/* this sets the colours for the Twitter icon*/
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/* this bit of code puts a margin either side of the page so that everything is centralised */
.mainbody {
	margin-left: 5%;
	margin-right: 5%;
	background-color: white;
	}
div {
	height: 100%;
	margin-top: 40px;	
}
/* this centres the image*/
div.me img {
	opacity: 0.6;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	border-radius: 50%;
}
div.me img:hover {
	    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/* this sets the box sizing for the socical media icons*/
* {
    box-sizing: border-box;
}



